Pandas is a fast library to read and work with tabular data. 

It is built upon numpy so many of the features are directly imported from there. 
It also included many tools to do data analysis and it builds upon the numpy to different datatypes in an array. We will use it case by case.

## How to load tabular data in pandas?


Use `read_csv()` method. There are many other methods like 

* `read_table()`
* `read_json()` 
* others. 

We will mostly use `read_csv()` as most of the data we get is in csv file. It's 
easy to read without python and can be opened with excel also.

In [2]:
import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/avs20/MSIT_ML_CLASS/master/datasets/auto.csv')

print(df)

      mpg  displ   hp  weight  accel  origin  size
0    18.0  250.0   88    3139   14.5      US  15.0
1     9.0  304.0  193    4732   18.5      US  20.0
2    36.1   91.0   60    1800   16.4    Asia  10.0
3    18.5  250.0   98    3525   19.0      US  15.0
4    34.3   97.0   78    2188   15.8  Europe  10.0
5    32.9  119.0  100    2615   14.8    Asia  10.0
6    32.2  108.0   75    2265   15.2    Asia  10.0
7    22.0  121.0   76    2511   18.0  Europe  10.0
8    15.0  302.0  130    4295   14.9      US  20.0
9    17.0  302.0  140    3449   10.5      US  20.0
10   44.0   97.0   52    2130   24.6  Europe  10.0
11   24.5  151.0   88    2740   16.0      US  10.0
12   32.0  135.0   84    2295   11.6      US  10.0
13   14.0  351.0  148    4657   13.5      US  20.0
14   15.0  400.0  150    3761    9.5      US  20.0
15   13.0  307.0  130    4098   14.0      US  20.0
16   36.0   79.0   58    1825   18.6  Europe  10.0
17   31.0  119.0   82    2720   19.4      US  10.0
18   32.0   71.0   65    1836   21.0    Asia  10.0
19   21.5   80.0  110    2720   13.5    Asia   7.5
20   19.0  225.0   95    3264   16.0      US  15.0
21   17.0  231.0  110    3907   21.0      US  15.0
22   16.0  302.0  140    4141   14.0      US  20.0
23   15.0  383.0  170    3563   10.0      US  20.0
24   23.0  140.0   78    2592   18.5      US  10.0
25   26.0   98.0   90    2265   15.5  Europe  10.0
26   32.0  144.0   96    2665   13.9    Asia  10.0
27   24.0  113.0   95    2372   15.0    Asia  10.0
28   21.0  231.0  110    3039   15.0      US  15.0
29   31.3  120.0   75    2542   17.5    Asia  10.0
..    ...    ...  ...     ...    ...     ...   ...
362  26.0   97.0   46    1950   21.0  Europe  10.0
363  30.0  135.0   84    2385   12.9      US  10.0
364  29.0   90.0   70    1937   14.2  Europe  10.0
365  14.0  351.0  153    4154   13.5      US  20.0
366  25.4  168.0  116    2900   12.6    Asia  15.0
367  19.0  232.0  100    2901   16.0      US  15.0
368  12.0  400.0  167    4906   12.5      US  20.0
369  20.0   97.0   88    2279   19.0    Asia  10.0
370  27.0   97.0   88    2130   14.5    Asia  10.0
371  22.3  140.0   88    2890   17.3      US  10.0
372  10.0  307.0  200    4376   15.0      US  20.0
373  19.2  267.0  125    3605   15.0      US  20.0
374  26.0  156.0   92    2585   14.5      US  10.0
375  16.0  258.0  110    3632   18.0      US  15.0
376  37.3   91.0   69    2130   14.7  Europe  10.0
377  26.0   79.0   67    1963   15.5  Europe  10.0
378  20.2  232.0   90    3265   18.2      US  15.0
379  13.0  318.0  150    3755   14.0      US  20.0
380  21.0  199.0   90    2648   15.0      US  15.0
381  25.0   90.0   71    2223   16.5  Europe  10.0
382  20.5  231.0  105    3425   16.9      US  15.0
383  37.7   89.0   62    2050   17.3    Asia  10.0
384  36.0  120.0   88    2160   14.5    Asia  10.0
385  20.0  156.0  122    2807   13.5    Asia  15.0
386  37.0   85.0   65    1975   19.4    Asia  10.0
387  18.0  250.0   88    3021   16.5      US  15.0
388  27.0  151.0   90    2950   17.3      US  10.0
389  29.5   98.0   68    2135   16.6    Asia  10.0
390  17.5  250.0  110    3520   16.4      US  15.0
391  25.1  140.0   88    2720   15.4      US  10.0

[392 rows x 7 columns]

We can print the df directly also.

In [3]:
df

      mpg  displ   hp  weight  accel  origin  size
0    18.0  250.0   88    3139   14.5      US  15.0
1     9.0  304.0  193    4732   18.5      US  20.0
2    36.1   91.0   60    1800   16.4    Asia  10.0
3    18.5  250.0   98    3525   19.0      US  15.0
4    34.3   97.0   78    2188   15.8  Europe  10.0
5    32.9  119.0  100    2615   14.8    Asia  10.0
6    32.2  108.0   75    2265   15.2    Asia  10.0
7    22.0  121.0   76    2511   18.0  Europe  10.0
8    15.0  302.0  130    4295   14.9      US  20.0
9    17.0  302.0  140    3449   10.5      US  20.0
10   44.0   97.0   52    2130   24.6  Europe  10.0
11   24.5  151.0   88    2740   16.0      US  10.0
12   32.0  135.0   84    2295   11.6      US  10.0
13   14.0  351.0  148    4657   13.5      US  20.0
14   15.0  400.0  150    3761    9.5      US  20.0
15   13.0  307.0  130    4098   14.0      US  20.0
16   36.0   79.0   58    1825   18.6  Europe  10.0
17   31.0  119.0   82    2720   19.4      US  10.0
18   32.0   71.0   65    1836   21.0    Asia  10.0
19   21.5   80.0  110    2720   13.5    Asia   7.5
20   19.0  225.0   95    3264   16.0      US  15.0
21   17.0  231.0  110    3907   21.0      US  15.0
22   16.0  302.0  140    4141   14.0      US  20.0
23   15.0  383.0  170    3563   10.0      US  20.0
24   23.0  140.0   78    2592   18.5      US  10.0
25   26.0   98.0   90    2265   15.5  Europe  10.0
26   32.0  144.0   96    2665   13.9    Asia  10.0
27   24.0  113.0   95    2372   15.0    Asia  10.0
28   21.0  231.0  110    3039   15.0      US  15.0
29   31.3  120.0   75    2542   17.5    Asia  10.0
..    ...    ...  ...     ...    ...     ...   ...
362  26.0   97.0   46    1950   21.0  Europe  10.0
363  30.0  135.0   84    2385   12.9      US  10.0
364  29.0   90.0   70    1937   14.2  Europe  10.0
365  14.0  351.0  153    4154   13.5      US  20.0
366  25.4  168.0  116    2900   12.6    Asia  15.0
367  19.0  232.0  100    2901   16.0      US  15.0
368  12.0  400.0  167    4906   12.5      US  20.0
369  20.0   97.0   88    2279   19.0    Asia  10.0
370  27.0   97.0   88    2130   14.5    Asia  10.0
371  22.3  140.0   88    2890   17.3      US  10.0
372  10.0  307.0  200    4376   15.0      US  20.0
373  19.2  267.0  125    3605   15.0      US  20.0
374  26.0  156.0   92    2585   14.5      US  10.0
375  16.0  258.0  110    3632   18.0      US  15.0
376  37.3   91.0   69    2130   14.7  Europe  10.0
377  26.0   79.0   67    1963   15.5  Europe  10.0
378  20.2  232.0   90    3265   18.2      US  15.0
379  13.0  318.0  150    3755   14.0      US  20.0
380  21.0  199.0   90    2648   15.0      US  15.0
381  25.0   90.0   71    2223   16.5  Europe  10.0
382  20.5  231.0  105    3425   16.9      US  15.0
383  37.7   89.0   62    2050   17.3    Asia  10.0
384  36.0  120.0   88    2160   14.5    Asia  10.0
385  20.0  156.0  122    2807   13.5    Asia  15.0
386  37.0   85.0   65    1975   19.4    Asia  10.0
387  18.0  250.0   88    3021   16.5      US  15.0
388  27.0  151.0   90    2950   17.3      US  10.0
389  29.5   98.0   68    2135   16.6    Asia  10.0
390  17.5  250.0  110    3520   16.4      US  15.0
391  25.1  140.0   88    2720   15.4      US  10.0

[392 rows x 7 columns]

In [4]:
# display is not python but jupyter functionality. 
display(df)

      mpg  displ   hp  weight  accel  origin  size
0    18.0  250.0   88    3139   14.5      US  15.0
1     9.0  304.0  193    4732   18.5      US  20.0
2    36.1   91.0   60    1800   16.4    Asia  10.0
3    18.5  250.0   98    3525   19.0      US  15.0
4    34.3   97.0   78    2188   15.8  Europe  10.0
5    32.9  119.0  100    2615   14.8    Asia  10.0
6    32.2  108.0   75    2265   15.2    Asia  10.0
7    22.0  121.0   76    2511   18.0  Europe  10.0
8    15.0  302.0  130    4295   14.9      US  20.0
9    17.0  302.0  140    3449   10.5      US  20.0
10   44.0   97.0   52    2130   24.6  Europe  10.0
11   24.5  151.0   88    2740   16.0      US  10.0
12   32.0  135.0   84    2295   11.6      US  10.0
13   14.0  351.0  148    4657   13.5      US  20.0
14   15.0  400.0  150    3761    9.5      US  20.0
15   13.0  307.0  130    4098   14.0      US  20.0
16   36.0   79.0   58    1825   18.6  Europe  10.0
17   31.0  119.0   82    2720   19.4      US  10.0
18   32.0   71.0   65    1836   21.0    Asia  10.0
19   21.5   80.0  110    2720   13.5    Asia   7.5
20   19.0  225.0   95    3264   16.0      US  15.0
21   17.0  231.0  110    3907   21.0      US  15.0
22   16.0  302.0  140    4141   14.0      US  20.0
23   15.0  383.0  170    3563   10.0      US  20.0
24   23.0  140.0   78    2592   18.5      US  10.0
25   26.0   98.0   90    2265   15.5  Europe  10.0
26   32.0  144.0   96    2665   13.9    Asia  10.0
27   24.0  113.0   95    2372   15.0    Asia  10.0
28   21.0  231.0  110    3039   15.0      US  15.0
29   31.3  120.0   75    2542   17.5    Asia  10.0
..    ...    ...  ...     ...    ...     ...   ...
362  26.0   97.0   46    1950   21.0  Europe  10.0
363  30.0  135.0   84    2385   12.9      US  10.0
364  29.0   90.0   70    1937   14.2  Europe  10.0
365  14.0  351.0  153    4154   13.5      US  20.0
366  25.4  168.0  116    2900   12.6    Asia  15.0
367  19.0  232.0  100    2901   16.0      US  15.0
368  12.0  400.0  167    4906   12.5      US  20.0
369  20.0   97.0   88    2279   19.0    Asia  10.0
370  27.0   97.0   88    2130   14.5    Asia  10.0
371  22.3  140.0   88    2890   17.3      US  10.0
372  10.0  307.0  200    4376   15.0      US  20.0
373  19.2  267.0  125    3605   15.0      US  20.0
374  26.0  156.0   92    2585   14.5      US  10.0
375  16.0  258.0  110    3632   18.0      US  15.0
376  37.3   91.0   69    2130   14.7  Europe  10.0
377  26.0   79.0   67    1963   15.5  Europe  10.0
378  20.2  232.0   90    3265   18.2      US  15.0
379  13.0  318.0  150    3755   14.0      US  20.0
380  21.0  199.0   90    2648   15.0      US  15.0
381  25.0   90.0   71    2223   16.5  Europe  10.0
382  20.5  231.0  105    3425   16.9      US  15.0
383  37.7   89.0   62    2050   17.3    Asia  10.0
384  36.0  120.0   88    2160   14.5    Asia  10.0
385  20.0  156.0  122    2807   13.5    Asia  15.0
386  37.0   85.0   65    1975   19.4    Asia  10.0
387  18.0  250.0   88    3021   16.5      US  15.0
388  27.0  151.0   90    2950   17.3      US  10.0
389  29.5   98.0   68    2135   16.6    Asia  10.0
390  17.5  250.0  110    3520   16.4      US  15.0
391  25.1  140.0   88    2720   15.4      US  10.0

[392 rows x 7 columns]

### How to get first few rows of the data 

use `.head()`

In [5]:
print(df.head())

    mpg  displ   hp  weight  accel  origin  size
0  18.0  250.0   88    3139   14.5      US  15.0
1   9.0  304.0  193    4732   18.5      US  20.0
2  36.1   91.0   60    1800   16.4    Asia  10.0
3  18.5  250.0   98    3525   19.0      US  15.0
4  34.3   97.0   78    2188   15.8  Europe  10.0

To get more rows, pass the number of rows in `head()` function

In [6]:
print(df.head(8))

    mpg  displ   hp  weight  accel  origin  size
0  18.0  250.0   88    3139   14.5      US  15.0
1   9.0  304.0  193    4732   18.5      US  20.0
2  36.1   91.0   60    1800   16.4    Asia  10.0
3  18.5  250.0   98    3525   19.0      US  15.0
4  34.3   97.0   78    2188   15.8  Europe  10.0
5  32.9  119.0  100    2615   14.8    Asia  10.0
6  32.2  108.0   75    2265   15.2    Asia  10.0
7  22.0  121.0   76    2511   18.0  Europe  10.0

`read_csv()` by default uses the comma `,` separator. Let's read a different file with tab `\t` as separator.

In [7]:
df2 = pd.read_csv('https://raw.githubusercontent.com/avs20/MSIT_ML_CLASS/master/datasets/chipotle.tsv')
df2.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 5

It threw error that it cannot parse the data. That is becasue of the separator. 
We can use `sep` argument in `read_csv()` to read differently separated file

In [8]:
df2 = pd.read_csv('https://raw.githubusercontent.com/avs20/MSIT_ML_CLASS/master/datasets/chipotle.tsv', sep='\t')
df2.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [9]:
df2.to_csv('chipotle_wout_header.csv',index=False, sep=',', header=None)

As we can see above, the files have column names. 
Some files don't have column names provided. So what happens when we read them.

In [10]:
df2 = pd.read_csv('chipotle_wout_header.csv')
df2.head()

,1,1.1,Chips and Fresh Tomato Salsa,Unnamed: 3,$2.39
0,1,1,Izze,[Clementine],$3.39
1,1,1,Nantucket Nectar,[Apple],$3.39
2,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
3,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
4,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98

It considered the first row as header. which is wrong. 

So if we see this is the case we pass `header=None` in `read_csv()` to tell that header is not present.

In [11]:
df2 = pd.read_csv('chipotle_wout_header.csv',header=None)
df2.head()

,0,1,2,3,4
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Now it has by default gave it a header with numbers indexed from 0. 

It's always good to have header so can provide headers while reading a file. 

we need to pass a list to `names` argument.

In [12]:
headers = ['order_id'	,'quantity',	'item_name',	'choice_description' ,'item_price']
df2 = pd.read_csv('chipotle_wout_header.csv',names=headers)
df2.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Looking at the stats of the data 

`.describe()`

Gives basic statistic of all the numerical columns of data.

In [13]:
df.head()

    mpg  displ   hp  weight  accel  origin  size
0  18.0  250.0   88    3139   14.5      US  15.0
1   9.0  304.0  193    4732   18.5      US  20.0
2  36.1   91.0   60    1800   16.4    Asia  10.0
3  18.5  250.0   98    3525   19.0      US  15.0
4  34.3   97.0   78    2188   15.8  Europe  10.0

In [14]:
df.describe()

              mpg       displ          hp       weight       accel        size
count  392.000000  392.000000  392.000000   392.000000  392.000000  392.000000
mean    23.445918  194.411990  104.469388  2977.584184   15.541327   13.679847
std      7.805007  104.644004   38.491160   849.402560    2.758864    4.264458
min      9.000000   68.000000   46.000000  1613.000000    8.000000    7.500000
25%     17.000000  105.000000   75.000000  2225.250000   13.775000   10.000000
50%     22.750000  151.000000   93.500000  2803.500000   15.500000   10.000000
75%     29.000000  275.750000  126.000000  3614.750000   17.025000   20.000000
max     46.600000  455.000000  230.000000  5140.000000   24.800000   20.000000

### How to select columns from a dataframe 

Use either of them 

* `[]`
* .

In [19]:
df['mpg']

0      18.0
1       9.0
2      36.1
3      18.5
4      34.3
5      32.9
6      32.2
7      22.0
8      15.0
9      17.0
10     44.0
11     24.5
12     32.0
13     14.0
14     15.0
15     13.0
16     36.0
17     31.0
18     32.0
19     21.5
20     19.0
21     17.0
22     16.0
23     15.0
24     23.0
25     26.0
26     32.0
27     24.0
28     21.0
29     31.3
       ...
362    26.0
363    30.0
364    29.0
365    14.0
366    25.4
367    19.0
368    12.0
369    20.0
370    27.0
371    22.3
372    10.0
373    19.2
374    26.0
375    16.0
376    37.3
377    26.0
378    20.2
379    13.0
380    21.0
381    25.0
382    20.5
383    37.7
384    36.0
385    20.0
386    37.0
387    18.0
388    27.0
389    29.5
390    17.5
391    25.1
Name: mpg, Length: 392, dtype: float64

In [20]:
df.mpg

0      18.0
1       9.0
2      36.1
3      18.5
4      34.3
5      32.9
6      32.2
7      22.0
8      15.0
9      17.0
10     44.0
11     24.5
12     32.0
13     14.0
14     15.0
15     13.0
16     36.0
17     31.0
18     32.0
19     21.5
20     19.0
21     17.0
22     16.0
23     15.0
24     23.0
25     26.0
26     32.0
27     24.0
28     21.0
29     31.3
       ...
362    26.0
363    30.0
364    29.0
365    14.0
366    25.4
367    19.0
368    12.0
369    20.0
370    27.0
371    22.3
372    10.0
373    19.2
374    26.0
375    16.0
376    37.3
377    26.0
378    20.2
379    13.0
380    21.0
381    25.0
382    20.5
383    37.7
384    36.0
385    20.0
386    37.0
387    18.0
388    27.0
389    29.5
390    17.5
391    25.1
Name: mpg, Length: 392, dtype: float64

In [22]:
# we can pass a list of columns to get multiple columns selected 
df[['mpg','origin']]

      mpg  origin
0    18.0      US
1     9.0      US
2    36.1    Asia
3    18.5      US
4    34.3  Europe
5    32.9    Asia
6    32.2    Asia
7    22.0  Europe
8    15.0      US
9    17.0      US
10   44.0  Europe
11   24.5      US
12   32.0      US
13   14.0      US
14   15.0      US
15   13.0      US
16   36.0  Europe
17   31.0      US
18   32.0    Asia
19   21.5    Asia
20   19.0      US
21   17.0      US
22   16.0      US
23   15.0      US
24   23.0      US
25   26.0  Europe
26   32.0    Asia
27   24.0    Asia
28   21.0      US
29   31.3    Asia
..    ...     ...
362  26.0  Europe
363  30.0      US
364  29.0  Europe
365  14.0      US
366  25.4    Asia
367  19.0      US
368  12.0      US
369  20.0    Asia
370  27.0    Asia
371  22.3      US
372  10.0      US
373  19.2      US
374  26.0      US
375  16.0      US
376  37.3  Europe
377  26.0  Europe
378  20.2      US
379  13.0      US
380  21.0      US
381  25.0  Europe
382  20.5      US
383  37.7    Asia
384  36.0    Asia
385  20.0    Asia
386  37.0    Asia
387  18.0      US
388  27.0      US
389  29.5    Asia
390  17.5      US
391  25.1      US

[392 rows x 2 columns]

The above output is a dataframe and not a series. 

So if you pass a list in selection, you get a dataframe, even if it contains a single column. 
If you pass a single column name then you get a series.

This can be used to get quick overlook of the data. 

### How do I rename columns in a pandas DataFrame?

In [15]:
df.rename(columns = {'displ':'displacement'})

      mpg  displacement   hp  weight  accel  origin  size
0    18.0         250.0   88    3139   14.5      US  15.0
1     9.0         304.0  193    4732   18.5      US  20.0
2    36.1          91.0   60    1800   16.4    Asia  10.0
3    18.5         250.0   98    3525   19.0      US  15.0
4    34.3          97.0   78    2188   15.8  Europe  10.0
5    32.9         119.0  100    2615   14.8    Asia  10.0
6    32.2         108.0   75    2265   15.2    Asia  10.0
7    22.0         121.0   76    2511   18.0  Europe  10.0
8    15.0         302.0  130    4295   14.9      US  20.0
9    17.0         302.0  140    3449   10.5      US  20.0
10   44.0          97.0   52    2130   24.6  Europe  10.0
11   24.5         151.0   88    2740   16.0      US  10.0
12   32.0         135.0   84    2295   11.6      US  10.0
13   14.0         351.0  148    4657   13.5      US  20.0
14   15.0         400.0  150    3761    9.5      US  20.0
15   13.0         307.0  130    4098   14.0      US  20.0
16   36.0          79.0   58    1825   18.6  Europe  10.0
17   31.0         119.0   82    2720   19.4      US  10.0
18   32.0          71.0   65    1836   21.0    Asia  10.0
19   21.5          80.0  110    2720   13.5    Asia   7.5
20   19.0         225.0   95    3264   16.0      US  15.0
21   17.0         231.0  110    3907   21.0      US  15.0
22   16.0         302.0  140    4141   14.0      US  20.0
23   15.0         383.0  170    3563   10.0      US  20.0
24   23.0         140.0   78    2592   18.5      US  10.0
25   26.0          98.0   90    2265   15.5  Europe  10.0
26   32.0         144.0   96    2665   13.9    Asia  10.0
27   24.0         113.0   95    2372   15.0    Asia  10.0
28   21.0         231.0  110    3039   15.0      US  15.0
29   31.3         120.0   75    2542   17.5    Asia  10.0
..    ...           ...  ...     ...    ...     ...   ...
362  26.0          97.0   46    1950   21.0  Europe  10.0
363  30.0         135.0   84    2385   12.9      US  10.0
364  29.0          90.0   70    1937   14.2  Europe  10.0
365  14.0         351.0  153    4154   13.5      US  20.0
366  25.4         168.0  116    2900   12.6    Asia  15.0
367  19.0         232.0  100    2901   16.0      US  15.0
368  12.0         400.0  167    4906   12.5      US  20.0
369  20.0          97.0   88    2279   19.0    Asia  10.0
370  27.0          97.0   88    2130   14.5    Asia  10.0
371  22.3         140.0   88    2890   17.3      US  10.0
372  10.0         307.0  200    4376   15.0      US  20.0
373  19.2         267.0  125    3605   15.0      US  20.0
374  26.0         156.0   92    2585   14.5      US  10.0
375  16.0         258.0  110    3632   18.0      US  15.0
376  37.3          91.0   69    2130   14.7  Europe  10.0
377  26.0          79.0   67    1963   15.5  Europe  10.0
378  20.2         232.0   90    3265   18.2      US  15.0
379  13.0         318.0  150    3755   14.0      US  20.0
380  21.0         199.0   90    2648   15.0      US  15.0
381  25.0          90.0   71    2223   16.5  Europe  10.0
382  20.5         231.0  105    3425   16.9      US  15.0
383  37.7          89.0   62    2050   17.3    Asia  10.0
384  36.0         120.0   88    2160   14.5    Asia  10.0
385  20.0         156.0  122    2807   13.5    Asia  15.0
386  37.0          85.0   65    1975   19.4    Asia  10.0
387  18.0         250.0   88    3021   16.5      US  15.0
388  27.0         151.0   90    2950   17.3      US  10.0
389  29.5          98.0   68    2135   16.6    Asia  10.0
390  17.5         250.0  110    3520   16.4      US  15.0
391  25.1         140.0   88    2720   15.4      US  10.0

[392 rows x 7 columns]

We can see all the column names present using `.columns` atrribute

In [17]:
df.columns

Index(['mpg', 'displ', 'hp', 'weight', 'accel', 'origin', 'size'], dtype='object')

Very important distinction here. Anything you do in dataframe will not be saved to dataframe, unless you used a `.inplace` argument.

In [18]:
df.rename(columns = {'displ':'displacement'}, inplace=True)
df.columns

Index(['mpg', 'displacement', 'hp', 'weight', 'accel', 'origin', 'size'], dtype='object')

### How do I remove columns from a pandas DataFrame? (

Use del


How do I sort a pandas DataFrame or a Series? 
How do I filter rows of a pandas DataFrame by column value? 
How do I apply multiple filter criteria to a pandas DataFrame? 

How do I use the "axis" parameter in pandas? 
How do I use string methods in pandas? 
How do I change the data type of a pandas Series? 
When should I use a "groupby" in pandas? 
How do I explore a pandas Series? 
How do I handle missing values in pandas? 
How do I select multiple rows and columns from a pandas DataFrame? 





How do I work with dates and times in pandas? (10:20)
How do I find and remove duplicate rows in pandas? (9:47)
How do I avoid a SettingWithCopyWarning in pandas? (13:29)